$color_1: white;
$font-family_1: Arial, sans-serif;
$background-color_1: #333;

body {
  font-family: $font-family_1;
  margin: 0;
  padding: 0;
}
header {
  background-color: $background-color_1;
  color: $color_1;
  text-align: center;
  padding: 1em;
  h1 {
    font-family: "Rubik Glitch Pop", system-ui;
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px rgb(146, 146, 146),
      0 0 20px rgb(196, 209, 205), 0 0 20px rgb(244, 255, 251);
  }
}
.producer-info {
  position: relative;
  background-color: $background-color_1;
  height: 800px;
  #contactHolder {
    background-image: url("PHOTO-2023-12-31-18-22-25.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    #contactHold {
      padding-top: 290px;
      .contact {
        //color: $color_1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0;
        background-color: $background-color_1;
      }
    }
  }
}

footer {
  background-color: $background-color_1;
  color: $color_1;
  height: 80px;
}
@media only screen and (max-width: 500px) {
  .producer-info {
    #contactHolder {
      width: 100%;
      margin: 0;
      height: 70%;
      #contactHold {
        padding: 0;
      }
    }
  }
}
